<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
    
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg nav-bar-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white bg-danger rounded px-3" href="#">Wissen Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Home">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="hakkimizda">Hakkımızda</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="Dersler" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Dersler
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="">HTML</a></li>
                                <li><a class="dropdown-item" href="#">Css</a></li>
                                <li><a class="dropdown-item" href="#">Bootstrap</a></li>
                                <li><a class="dropdown-item" href="#">JavaScript</a></li>
                                <li><a class="dropdown-item" href="#">JQuery</a></li>
                                <li><a class="dropdown-item" href="#">React</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">C# Temelleri</a></li>
                                <li><a class="dropdown-item" href="#">Asp.net Core</a></li>
                                <li><a class="dropdown-item" href="#">PHP</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">İletişim</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Ara.." aria-label="Search">
                        <button class="btn btn-outline-light " type="submit">Ara</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section class="mt-5 pt-3" >
        @RenderBody();
    </section>
    <footer>
        <div class="container-fluid my-footer">
            <p class="text-white justify-content-center d-flex align-items-center" style="height: 80px;">All rights reserved MK.</p>
        </div>
    </footer>


    <script src="/stjs/bootstrap.bundle.js"></script>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>