
@model List<Product>

    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("Categories")

        </div>
        <div class="col-md-9">
            <div class="row">

                @foreach (var item in Model)
                {
                <div class="col-md-3">
                    <partial name="_product" model="item" />
                    @*@await Html.PartialAsync("_Product", item)*@
                </div>
                }
            </div>
        </div>
    </div>