<form asp-action="ImageUpload" enctype="multipart/form-data">
    <h3 class="display-3">Resim Yükle</h3>
    <label>Resim Yolu</label>
    <input type="file" name="file" class="form-control"/>
    <div class="form-control">
        <input type="submit" class="btn btn-primary" value="Yükle" />
    </div>
</form>