@model EF_Core_MVC_Code.Models.Turler
@{
    ViewData["Title"] = "Kitap Türleri";
}
<h1>Kitap Detayları</h1>

<div>
    <h5>Tür ID:</h5>
    <p>@Model.Id</p>
    <h5>Kitap Türü</h5>
    <p>@Model.TurAd</p>
</div>
<a asp-action="Index">Geri Dön</a>